.eventsPageContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2A2D37;
    min-height: 100vh;
    color: white;
}

.backpage{
    cursor: pointer;
}

.eventPageHeader{
    width: 100%;
    background-color: #1C1F27;
    padding: 24px;
    font-weight: bold;
    border-bottom: 0.4rem solid #1DA0FF;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.eventPageBody{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.searchEventsContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.searchEventsTitle{
	font-family: 'Fira Sans', sans-serif;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.eventSearchInput{
    width: 250px;
    background-color: #1C1F27;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 14px;
    color: white;
}

.eventSearchInput:focus{
    background-color: #000000;
}

.eventBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #1DA0FF;
    box-shadow: 1px 1px 5px #ffffff;
}

.exploreEventsContainer{
    display: flex;
    flex-direction: column;
}

.exploreEventsTitle{
    font-weight: bold;
    font-size: 2rem;
    margin: auto;
    margin-bottom: 2.5rem;
    font-family: 'Prosto One', cursive;
    letter-spacing: 0.3rem;
}

.eventsListGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));;
    column-gap: 1rem;
    row-gap: 1rem;
}

.eventBox{
    display: flex;
    flex-direction: column;
    background-color: #1C1F27;
    padding: 20px 1rem;
    border-radius: 4px;
    transition: all ease 0.5s;
}

.eventBox div{
    padding: 10px;
}

.eventBox:hover{
    background-color: #0c0f15;
    transform: translateY(-4px);
    box-shadow: 1px 1px 5px #1DA0FF;
}

.eventName{
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.eventName:hover{
    border-bottom: 1px solid #0087ca;
}

.eventDescription{
    font-size: 14px;
    color: rgb(192, 192, 192);
}

.registerBtn{
    font-weight: bold;
    font-size: 1rem;
    padding: 7px 20px;
    cursor: pointer;
    background-color: #1DA0FF;
    outline: none;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
.registerBtn:hover{
    background-color: #017dd5;
}