.combined{
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-image: url("../../../images/4.jpg");
}
.homePageContainer {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
	color: white;
}

.navBarContainer {
	width: 100%;
	height: 45px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.navBarContent {
	width: 80%;
	font-size: 1.2rem;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
}

.navBarContent:nth-child(){
	padding: 15px 5px;
}

.navBarContentRight span, .navBarContentLeft span{
	cursor: pointer;
	font-family: 'Chivo Mono', monospace;
	margin: 0px 50px;
}
.navBarContentRight span:hover, .navBarContentLeft span:hover{
	border-bottom: 1px solid #0087ca;
}

.mainContainer {
	width: 100%;
	height: 80vh;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.mainContent {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tagLine {
	font-family: 'Playfair Display', serif;
	font-size: 3rem;
	font-weight: 100;
	text-align: center;
	/* -webkit-background-clip: text; */
	color: #BDF7B7;
	/* -webkit-text-fill-color: transparent; */
	width: 75%;
	word-wrap: normal;
	padding: 30px;
	padding-bottom: 5px;
}
.lowerLine {
	font-family: 'Lobster', 'cursive';
	font-size: 1.8rem;
	font-weight: 100;
	text-align: center;
	background: -webkit-linear-gradient(#BDF7B7, rgb(255, 255, 255));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width: 75%;
	word-wrap: normal;
	padding: 30px;
}

.registerBtn {
	font-weight: bold;
	font-size: 1.5rem;
	padding: 10px 20px;
	cursor: pointer;
	background-color: #FAC9B8;
	outline: none;
	border: none;
	color: #ff5921;
	border-radius: 10px;
}
.btns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.registerBtn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .registerBtn span:after {
	content: '\00bb';
	rotate: 90deg;
	position: absolute;
	opacity: 0;
	top: 30px;
	right: 0px;
	left: 0px;
	transition: 0.5s;
  }
  
  .registerBtn:hover span {
	padding-bottom: 25px;
  }
  
  .registerBtn:hover span:after {
	opacity: 1;
	right: 0;
  }
  .registerBtn:hover{
	color: #FAC9B8;
	background-color: #ff5921;  }


@media all and (max-width: 600px) {
	.tagLine {
		font-size: 2rem;
	}
}

@media all and (max-width: 500px) {
	.tagLine {
		font-size: 1.5rem;
	}
}
